/****** Main Styling ******/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: rgb(124, 156, 130);
  text-align: center;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

.container-social {
  background-color: #333;
  width: 100%;
  padding: 5px 30px 5px 0px;
  margin: 0;
  box-sizing: border-box;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: 1.0;
  display: inline-block;
  margin: 0;
}

.text-right {
  text-align: right;
}

.social-list li a {

  margin-right: 25px;
}

i {
  color: #f0f1e9;
  font-size: 2em !important;
}

i:hover {
  color: #ffdc00;
}

h1,
h2,
h3 {
  margin-top: 30px;
  line-height: 1em;
}

h2 {
  font-style: italic;
}

p {
  width: 80%;
  margin: 15px auto;
}
code {
  word-wrap: break-word;
}
form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: rgb(119, 151, 170);
  border: 1px solid #aaa;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.75);
  vertical-align: top;
  box-sizing: border-box;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 7px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 7px;
  background-color: rgb(49, 69, 90);
  color: rgb(241, 239, 239);
  border: 1px solid rgb(49, 69, 90);
  box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: rgb(125, 156, 163);
  color: rgb(49, 69, 90);
}

.view {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.container {
  width: 100%;
}

@media (min-width: 576px) {
  form {
    width: 400px;
    min-width: 400px;
    margin: 0 auto;
  }

  .view {
    width: 400px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
  }
}